body{
    background: rgb(238, 216, 118);
      text-align: center;
}

h1{
   
    color: rgb(0, 0, 0);
    font-family:Courier, "Lucida Console", monospace;
    font-size: 50px;
    margin-left: 2%;
}

a{
 
    margin: auto;
    color: rgb(0, 0, 0);
    font-family:Courier, "Lucida Console", monospace;
    font-size: 20px;
    text-decoration: none;
  
}

a:hover{
     color: rgb(218, 123, 0);
}

h1:hover{
     color: rgb(218, 123, 0);
}

.line{
    border: 1px solid white;
    margin-top: 1%;
}
form{
    margin-top: 50px;
    text-align: center;
    border: 2px solid white;
    margin-right: 30%;
    margin-left: 30%;
    padding: 5% 5% 5% 5%;
    background: linear-gradient(90deg,   rgb(161, 118, 207) 100%, rgb(161, 118, 207) 100%,  rgb(237, 227, 120) 100%);  
    border-radius: 50px;
    font-size: 20px;
    font-family: Courier, "Lucida Console", monospace;
    color: white;
     display: grid;
    grid-gap: 10px;
    
}